<% layout("layouts/boilerplate") -%>
    <p><%= newListing %></p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mx-10">
    <% for (listing of AllListing){ %>
        <div class="block shadow-lg rounded-xl transition-transform hover:scale-105 duration-300">
            <a href="/listings/<%=listing._id%>">
    
                <div class="rounded-xl overflow-hidden">
                    <img src="<%=listing.image.url%>" alt="NoImage" class="aspect-square object-cover hover:opacity-90 transition-opacity">
                </div>
                <div class="p-2">
                    <p class="font-semibold text-gray-800 truncate"> <%=listing.title %></p>
                    <p class="text-gray-500 text-sm">&#8377;<%=  listing.price ? listing.price.toLocaleString("en-IN") : '0'%> / night</p>
                </div>
              </a>
        </div>
    <%}%>
        
</div>
