<% layout("layouts/boilerplate") -%>
    <div class="flex flex-col items-center mb-12">

        <h3 class="text-4xl font-semibold text-gray-800 mb-4"><%=info.title %></h3>
        <div class="shadow-lg rounded-xl transition-transform hover:scale-105 duration-300 overflow-hidden">
            <img src="<%=info.image.url%>" alt="Error" class="w-full max-w-lg aspect-[16/9] object-cover">
        </div>
        <ul class="mt-4">
            <li><i>Owned by <%= info.owner.username%></i></li>
            <li><%=info.description %></li>
            <li> &#8377;<%=  info.price ? info.price.toLocaleString("en-IN") : '0' %></li>
            <li><%= info.location %></li>
            <li><%= info.country %></li>
        </ul>
        <% if(currentUser && currentUser._id.equals(info.owner._id)){ %>
        <div class="flex gap-6">
            <a href="/listings/<%=info._id%>/edit" class="mt-6 bg-blue-400 hover:bg-blue-500 text-white font-semibold px-6 py-2 rounded-lg shadow-md transition-all duration-300 hover:shadow-lg">Edit the Listing</a>
        <form action="/listings/<%=info._id %>?_method=DELETE" method="post">
            <button class="mt-6 bg-slate-400 hover:bg-slate-500 text-white font-semibold px-6 py-2 rounded-lg shadow-md transition-all duration-300 hover:shadow-lg">Delete this Listing</button>
        </form>
        </div>
        <% } %>
        
    </div>
    <% if (currentUser) {%>
    <div>
        <hr class="border-gray-300 mx-auto my-10">
    </div><% } %>

<div class="flex flex-col items-center">
    <% if (currentUser) {%>
    <div class="mx-auto mt-4 shadow-md bg-slate-100 p-4 ">
        
        <h2 class="text-2xl font-semibold text-gray-800 my-2">Leave a Review</h2>
        <form action="/listings/<%=info._id%>/reviews" class="space-y-3" method="post" novalidate id="Form">
            
            <div>
                <label for="rating">rating</label>
            <fieldset class="starability-slot">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>

            </div>
            <div>
                <label for="comments">Comments</label><br>
                <textarea  id="comments" name="review[comment]" rows="5" cols="10"class="max-w-2xl lg:w-2xl border border-neutral-300 rounded-lg shadow-sm p-3 pl-3 hover:shadow-lg" required ></textarea>
                <p class="hidden text-red-500 text-sm">Please add some comment for the review</p>
            </div>

            <button class="mt-2 bg-blue-400 hover:bg-blue-500 text-white font-semibold px-6 py-2 rounded-lg shadow-md transition-all duration-300 hover:shadow-lg">Submit</button>
        </form>
        
    </div><% } %>

    <div>
        <hr class="border-gray-300 mx-auto my-10">
        <h2 class="text-2xl font-semibold text-gray-800 my-2">All Reviews</h2>
        <div class="grid grid-cols-2 gap-4 w-full">
                <% for (review of info.reviews){ %>
                <div class="border rounded-xl border-slate-200 p-3">
                    <p class="text-xl font-bold">@<%= review.author.username %></p>
                    <p class="starability-result" data-rating=<%=review.rating%> ></p>
                    <p><%= review.comment %></p>
                    <form action="/listings/<%=info._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                        <button class=" mt-1 px-1 py-0.5 rounded-sm hover:border bg-slate-700 text-white hover:bg-white hover:text-slate-700">Delete</button>
                    </form>
                </div>
                <% } %>
        </div>
    </div>

</div>