<% layout("layouts/boilerplate") -%>

    <h3><%=info.title%></h3>
    <ul>
        <li><%=info.description %></li>
        <li> &#8377;<%= info.price.toLocaleString("en-IN") %></li>
        <li><%= info.location %></li>
        <li><%= info.country %></li>
    </ul>
    <a href="/listings/<%=info._id%>/edit">Edit the Listing</a>
    <form action="/listings/<%=info._id %>?_method=DELETE" method="post">
        <button>Delete this Listing</button>
    </form>

