<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing</title>
</head>
<body>
    <h3><%=info.title%></h3>
    <ul>
        <li><%=info.description %></li>
        <li> &#8377;<%= info.price.toLocaleString("en-IN") %></li>
        <li><%= info.location %></li>
        <li><%= info.country %></li>
    </ul>
    <a href="/listings/<%=info._id%>/edit">Edit the Listing</a>
</body>
</html>